body {
  font-family: sans-serif;
}

svg {
  border: 0.1em solid black;
  width: 60em;
  height: 30em;
}

circle {
  fill: transparent;
  stroke-width: 0.02em;
  stroke: black;
}

g.points circle {
  fill: black;
}

g.lines line {
  stroke: black;
  stroke-width: 0.02em;
}
